.about-con{
    padding:0 10%;
    border:1px solid red;
    font-size:1.5em;
    
}

.about-list-header{
    font-weight: 500;
}

.about-list-con{
    margin-left:4em;
}

.about-con > p{
    margin:1em;
}

@media screen and (max-width:100px) {
    
}
