.banner-con {
    background-color: #B6D0E2;
    background: url('./assets/banner-bg.png') no-repeat center;
    background-size: cover;

    
}

.banner-text-con{
    padding:0 3vw;

    flex-shrink: 1;
    flex-grow:1;
}


.banner-headers > .h1-tip{
    font-size:var(--font-100);
}

/* BANNER TEXT */
.banner-headers>h1 {
    font-size: var(--font-400);
    color: black;
}

.banner-con-btn {
    width: fit-content;
    margin-right:1em;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color:#4574F5;
    /* background: linear-gradient(to right,
            rgb(70, 156, 255),
            rgb(47, 195, 253),
            rgb(120, 214, 252)); */
}

.banner-contact-con, .banner-email-con{
    font-size: var(--font-100);
    margin-bottom:1em;
}
.banner-email-envelope{
    font-size:var(--font-200);
    margin:0 0.5em;
}

.banner-email{
    font-size:1.5em;
}

/* HEADER ANIMATIONS */

@keyframes header-fade-in {}