.banner-con {
    background-color: #B6D0E2;
    background: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 90vh;
    padding: 10%;
    margin-top:4em;
}

.banner-headers>h1 {
    font-size: var(--font-400);
    font-family: 'Montserrat', sans-serif;
}

.banner-con-btn {
    width: fit-content;
    margin-right: 1em;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    font-size: var(--font-150);
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: #4574F5;
}

.banner-contact-con,
.banner-email-con {
    margin-bottom: 1em;
}

.banner-email-con,
.banner-phone-con>* {
    font-size: var(--font-150)
}


/* HEADER ANIMATIONS */

@keyframes header-fade-in {}