.interestform-module {
    background-color: white;
    border: 5px solid white;
    overflow: hidden;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.308);
    width: 25em;
}

.interestform-header {
    font-size: var(--font-300);
    color: white;
    padding: 0.5em;
    text-align: center;
    background: linear-gradient(to bottom left, #678ef8, rgb(85, 175, 248), #4574F5);
}

.interestform-input-con {
    padding: 1em;
}

.interestform-input,
textarea,
.interestform-time-con {
    font-size: var(--font-100);
    padding: 0.5em 1em;
    border: none;
    resize: none;
    margin-top: 2em;
    width: 100%;
}





.interestform-meridiem-div{
    font-weight:500;
}

textarea {
    height: 5em;
    border: none;
    background-color: rgba(128, 128, 128, 0.103);
    border-radius: 5px;
}





@media screen and (max-width:520px) {
    .interestform-module {
        width: 90%;
    }
}