.statement-con, .statement-con-reverse {
    padding: 10em;

}

.statement-statement-con{
    margin-top:-10vh;
}

.statement-statement:before {
    content: '``';
    position: relative;
    font-size: 5em;
    color: #54C5FA;
    font-family: sans-serif;
    bottom: -50px;
    left: -30px;
}

.statement-img {
    width: 60%;
    border: 5px solid #53ACFF;
    border-radius: 400px;

}

.statement-img-con:before {
    content: '';
    position: relative;
    width: 30px;
    height: 30px;
    top: 150px;
    left:20px;
    color: #54C5FA;
    z-index: -1;
    font-family: sans-serif;
    background-color: #53ACFF;
    border-radius: 100%;
}

.statement-img-con:after {
    content: '';
    position: relative;
    width: 3em;
    height: 3em;
    right: 5em;
    color: #54C5FA;
    font-family: sans-serif;
    background-color: #53ACFF;
    border-radius: 100%;
    z-index: -1;
}

@media screen and (max-width:1440px) {
    .statement-con{
        flex-direction: column;
    }
    .statement-con-reverse{
        flex-direction: column-reverse;
    }
    .statement-img-con{
        width:60%;
    }
    .statement-statement-con{
        margin-top:0;
    }
    
}