.objective-con {
  padding:5em;
}

.objective-title-con{
  margin-bottom:1.2em;
}


.objective-title{
  font-size:3em;
}

.objective-desc{
  font-size:1.4em;
  font-weight:500;
  width:40em;
}

/* .objective-ul{
  list-style:none;
} */

@media screen and (max-width:815px) {
  .objective-desc{
    width:25em;
  }
}


