.statement-con,
.statement-con-reverse {
    padding:5em
}

.statement-img{
    width:100%;
    padding:2em
}

.statement-title{
    margin-bottom:1em;
}

.statement-desc-con{
    font-size:1.4em;
}

@media screen and (max-width:1440px) {
    .statement-con {
        flex-direction: column;
    }

    .statement-con-reverse {
        flex-direction: column-reverse;
    }

    .statement-img-con {
        width: 100%;
    }

    .statement-statement-con {
        margin-top: 0;
    }

}