

.month{
    /* background-color: #4574F5; */
    padding:0.3em 0.5em;
    border-radius: 15px;
    color:#4574F5;
    font-size:var(--font-250);
    margin:0.3em 0.5em 0.3em 0.5em;
}

.month-days{
    font-size:var(--font-150);
}