@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,300;1,500&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto+Mono:wght@400;500&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --btn-color-prim1-hover: #3a80cc;
  --btn-color-prim1: #4989CC;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bordert {
  border: 2px solid red;
}

.text-divider {
  font-size: 3em;
  margin-top: -30px;
  color: rgb(83, 172, 255);
  letter-spacing: -2px;
  ;

}

.h1-tip {
  color: #3F46A3;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1em;
  letter-spacing: 5px;
}

h1 {
  font-weight: 500;
  font-family: 'Montserrat', 'Roboto Mono', monospace;
}


.h1-ast {
  font-size: 2em;
  margin-right: 0.5em;
  color: #4574F5
}
