.course-container {
    padding:6em 5em;
    color:white;
    /* background: url('./assets/coursebg.png') no-repeat center; */
    background-color: #0C1379;
}

.course-container>h1 {
    font-size:3em;
    margin-bottom:1.2em;
}

.course-container .course-description{
    font-size:1.4em;
}