.course-container {
    padding:2em 12vw;
    color:white;
    background-color: #0C1379;
}

.course-container>h1 {

    margin-bottom:var(--font-150);
}

.course-container .course-description{
    font-size:var(--font-150);
}