.schedule-con {
    padding: 0;
}

.schedule-header {
    margin: 1em;
}

.schedule-signup-btn {
    background: linear-gradient(to right,
            rgb(70, 156, 255),
            rgb(47, 195, 253),
            rgb(120, 214, 252));
    padding: 0.5em 1em;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}