.schedule-con {
    padding: 5em 0;
    background-color: rgb(245, 245, 245);
}

.schedule-header {

}


.schedule-signup-btn {
    /* background: linear-gradient(to right,
            rgb(70, 156, 255),
            rgb(47, 195, 253),
            rgb(120, 214, 252)); */
    background-color: rgb(41, 92, 233);
    padding: 0.5em 1em;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: var(--font-150);
    cursor: pointer;
}