.nav {
    position: fixed;
    
    top:0;
    width: 100%;
    height:4em;
    padding:0 3em;
    z-index:999;
    background-color: #273488;    
}

.nav-logo{
    color:white;
    font-size:2.5em
}

.nav-btn {
    padding: 0.5em 1em;
    margin: 0 0.3em;
    font-size: 1em;
    color: white;
    font-weight: 600;

    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
}

.nav-btn:hover {
    color: rgb(49, 152, 221);
}


.contact-btn {
    background-color: #4574F5;
    border-radius: 10px;
}

.contact-btn:hover {
    color: white;
}

.banner-phone-con{
    font-size:1.5em;
}