.interestform-con {
    position: fixed;
    display:none;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.904);
    z-index: 1000;
}

.interestform-con > h1 {
    color:white;
    font-size: 2.3em;
}

.interestform-con>.text-divider{
    margin-bottom: 0.2em;
}

.interestform-module {
    counter-set: section;
    border-left: 2px solid white;
    height: 10em;
}

.interestform-module span::before {
    counter-increment: section;
    content: counter(section);
    border: 2px solid white;
    background-color: #292929;
    color: white;
    padding: 0.8em 1.2em;
    border-radius: 50%;
    position:relative;
    font-weight: 600;
    left:-27.5px;

    z-index: 100;
}

.interestform-header{
    margin-bottom:1em;
}

input{
    padding:0.5em 1em;
    border-radius: 20px;
}

.form-btn{
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size:1em;
    border: none;
    width: fit-content;
    margin:1em 0.5em;
    cursor: pointer;
    color: white;
}

.interestform-submit {
    background-color: #4574F5;

}

.interestform-close{
    background-color: #292929;
    border:2px solid white;
}

.interestform-submit:hover{
        background-color: #c7e1ff;
}

.interestform-close:hover{
    background-color: #373737;
}